html {
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
}
nav ul li {
  list-style-type: none;
  padding-bottom: 7px;
  color: #69696a;
}

ul {
  padding-left: 0;
}

#logo {
  color: #000;
}

body {
  background-color: #f9fafc;
}

p {
  border-left: 2px solid #69696a;
  padding-left: 13px;
  color: #69696a;
}

.button1 {
  width: 100%;
  background-color: #000;
  border: none;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  color: #fff;
}

.button2 {
  width: 100%;
  background-color: #000;
  border: none;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  color: #fff;
}
